:root {
  --bgColors:$;
  --color-user:     $userColor;
  --banner:         $banner;
  --scrollbarWidth: $scrollbarWidth;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

$profileMenu: "
  div[role=menu][style^='max-height: calc(100vh - 0px);'],
  div[role=menu][style^='max-height: calc(0px + 100vh);']
";

// returns calc function for evenly spacing the navbar/other parts
@function space($val) {
  @return calc((100vw - #{$val}) / 2);
}


// normal display
@media only screen and (min-width: 1350px) {
  .gt2-nav-left {
    margin-left: space(1340px);
  }
  .gt2-nav-right {
    margin-right: space(1340px);
  }
  #{$profileMenu} {
    right: space(1340px) !important;
  }
}

// only right sidebar
@media only screen and (max-width: 1350px) {
  header {
    display: none !important;
  }
  main {
    align-items: center !important;

    & > div > div >div {
      left: 0 !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(975px);
  }
  .gt2-nav-right {
    margin-right: space(975px);
  }
  #{$profileMenu} {
    right: space(975px) !important;
  }

  // smaller search
  .gt2-search > div {
    width: 270px !important;
  }
}

// not right small sidebar
@media only screen and (min-width: 1095px) {
  main > div {
    width: 960px !important;
  }
}

// right small sidebar
@media only screen and (max-width: 1095px) {
  main > div {
    width: 900px !important;
    & > div > div {
      justify-content: unset !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(915px);
  }
  .gt2-nav-right {
    margin-right: space(915px);
  }
  #{$profileMenu} {
    right: space(915px) !important;
  }

  // small dashboard profile
  div[data-testid=sidebarColumn] .gt2-dashboard-profile {
    .gt2-banner {
      height: 95px;
    }

    .gt2-avatar img {
      width: 72px;
      height: 72px;
    }

    .gt2-user {
      top: 103px;
      left: 90px;
    }

    .gt2-stats {
      li {
        width: 90px;
      }
    }
  }
}

// no sidebars at all
@media only screen and (max-width: 1005px) {
  main > div {
    width: 600px !important;
    & > div > div > div:nth-child(1) {
      margin-right: 0 !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(620px);
  }
  .gt2-nav-right {
    margin-right: space(620px);
  }
  #{$profileMenu} {
    right: space(620px) !important;
  }
}

// adjust positions of the columns
header {
  right: -40px;
  margin-right: 10px !important;
  margin-left: -5px !important;

  // hide stuff in the sidebar
  h1,   // twitter logo
  nav,  // links
  a[href='/compose/tweet'],  // tweet button
  div[data-testid=SideNav_AccountSwitcher_Button] {
    display: none !important;
  }
}

main {
  & > div  > div > div {
    left: 40px;
    margin-top: 46px !important;

    & > div:nth-child(1) {
      margin-top: 10px;
      margin-right: 10px;
      border-top-width: 1px;
    }
    & > div:nth-child(2) {
      margin-right: 0;
    }
  }
}


// apply theme to sidebar elements
div[data-testid=sidebarColumn] > div > div:nth-child(2) > div > div > div > div {
  border-radius: 0;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-elem-dark);
  margin-bottom: 10px;

  &:nth-last-child(1) nav {
    padding: 15px;
  }

  &:empty {
    display: none;
  }
}

// global background color
body {
  background-color: var(--color-bg) !important;
}


div[data-testid=primaryColumn] > div {
  // scroll behind nav bar
  & > div:nth-child(1) {
    position: relative;
  }

  // compose tweet
  & > div:nth-child(2):not(.gt2-compose-large) {
    & > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) {
      display: none;
    }
  }
}

// hidden tweets (autoRefresh)
.gt2-hidden-tweet,
.gt2-hidden-tweet-part {
  display: none;
}


.gt2-show-hidden-tweets {
  color: var(--color-text);
  height: auto;
  padding: 10px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

// spark settings
.gt2-spark-toggle {
  padding: 15px;
  display: inline-flex;

  svg {
    height: 1.25em;
    color: var(--color-gray-icons);
    fill: currentcolor;
    margin-right: 10px;
  }

  div {
    color: var(--color-text);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-elem-sel);
  }
}


// profile menu
#{$profileMenu} {
  top: 54px;

  & > div > div > div {
    // existing elements
    & > div > a {
      transition-duration: 0s;
    }

    // inserted elements
    & > a {
      padding: 0;
      & > div {
        padding: 15px;
        & > div:nth-child(2) {
          margin: 0;
          font-size: 15px;
        }
      }

      & span {
        font-size: 15px;
        font-weight: 400;
        margin-left: 0;
        color: var(--color-text);
      }
      & svg {
        color: var(--color-gray-icons);
        margin-right: 10px;
        height: 1.25em;
      }
    }

    // inserted elements (logout/add existing acc)
    .gt2-acc-opt {
      text-decoration: none;
      color: var(--color-text);
      padding: 15px;
      &:visited {
        color: var(--color-text);
      }
    }

    // color changes on hover
    // & > div > a:hover,
    & > a:hover {
      background-color: var(--color-elem-sel);
      // svg,
      // span {
      //   color: white;
      // }
    }
  }
}


// navbar
header > div > div {
  margin-top: 46px !important;
}


.gt2-dashboard-profile a,
a.gt2-trend {
  text-decoration: none;
  &:visited {
    color: unset;
  }
  &:link {
    color: unset;
  }
}


.gt2-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 46px;
  position: fixed;
  width: 100%;
  background-color: var(--color-elem);
  z-index: 1;
  display: flex;

  &.not-focused {
    z-index: -1;
    .gt2-nav-center {
      margin-right: calc(var(--scrollbarWidth) / 2);
    }
    .gt2-nav-right {
      padding-right: var(--scrollbarWidth);
    }
  }

  .gt2-nav-left {

    & > a {
      padding: 0;
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      display: inline-flex;
      height: 100%;
      transition: all .15s ease-in-out;

      & > div {
        background-color: unset !important;

        & > div:nth-child(1) > div {
          background-color: var(--color-user);
          border-color: var(--color-elem-dark);
        }
        & > div:nth-child(2) {
          color: var(--color-gray);
          font-size: 13px;
          margin-left: 3px;
        }
      }
    }

    & > a.active,
    & > a:hover {
      border-bottom: 2px solid var(--color-user);
    }

    & > a svg {
      color: var(--color-gray-icons);
      width: 23px;
    }

    & > a.active > div > div:nth-child(2),
    & > a.active svg,
    & > a:hover > div > div:nth-child(2),
    & > a:hover svg {
      color: var(--color-user);
    }
  }

  // twitter logo
  .gt2-nav-center {
    position: absolute;
    right: calc(50% - 12px);
    width: 24px;
    margin-top: 8px;
    & svg {
      color: #1da1f2;
    }
  }

  // nav right
  .gt2-nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;

    .gt2-search > div {
      height: auto;
      width: 300px;
      right: 10px;
      background: unset;
      position: relative;
      margin-bottom: 0;
      border: 1px solid var(--color-gray-dark);
      border-radius: 21px;
      transition: all .2s ease-in-out;
      & input {
        font-size: 14px;
        padding: 8px;
        height: 32px;
        color: var(--color-text);
      }
      &:focus-within {
        border: 2px solid var(--color-user);
      }

      form > div:nth-child(1) > div {
        border: none;
        background-color: var(--color-elem-dark);
      }
    }

    .gt2-user-dropdown {
      margin-left: 5px;
      margin-right: 15px;

      & img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }
      & > div > div {
        display: none;
      }
    }

    & > a[href='/compose/tweet'] {
      font-size: 14px;
      min-height: 34px !important;
      width: auto;
      background-color: var(--color-user);
      padding: 0 10px;

      & > div > span {
        overflow: visible;
        & > div > div {
        }
      }
    }
  }
}


// dashboard profile
.gt2-dashboard-profile {
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 10px 0;
  display: flex;
  width: 350px;
  flex-direction: column;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-elem-dark);
  box-sizing: border-box;

  .gt2-banner {
    background-image: var(--banner);
    background-size: 100%;
    height: 116.67px;
    background-position: 0 50%;
    width: 100%;
  }
  & div {
    height: 116px;

    .gt2-avatar {
      display: inline-block;
      margin: -30px 0 0 8px;
      padding: 1px;
      background-color: var(--color-elem-dark);
      border-radius: 50%;

      img {
        border: 3px solid var(--color-elem-dark);
        border-radius: 50%;
        width: 82px;
        height: 82px;
        box-sizing: border-box;
      }
    }

    .gt2-user {
      color: var(--color-text);
      position: absolute;
      top: 125px;
      left: 100px;
      width: 185px;
      height: fit-content;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      display: flex;
      flex-direction: column;

      .gt2-name {
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
      }
      .gt2-screenname {
        font-size: 14px;
        color: var(--color-gray);

        &:hover span {
          text-decoration: underline;
        }
      }
    }

    .gt2-stats {
      padding: 14px;
      width: 100%;
      height: 37px;
      margin-top: -10px;

      ul {
        display: inline-flex;
        margin: 0;
        padding: 0;

        li {
          width: 115px;
          list-style: none;
          a {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
              font-size: 12px;
              font-weight: bold;
              transition: color .15s ease-in-out;
              color: var(--color-gray);
            }
            span:nth-child(2) {
              font-size: 18px;
              font-weight: bold;
              line-height: 1;
              padding-top: 3px;
              color: var(--color-user);
            }
          }

          a:hover span:nth-child(1) {
            color: var(--color-user);
          }
        }
      }
    }
  }
}

div[data-testid=sidebarColumn] .gt2-dashboard-profile {
  position: relative;
  margin: 0;
  width: 100%;
}
