:root {
  --bgColors:$;
  --color-user:       $userColor;
  --scrollbar-width:  $scrollbarWidth;
  --global-font-size: $globalFontSize;

  --font-increment:   calc(var(--global-font-size) - 15px);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

$navbarDropdown: "div[role=menu][style^='max-height: calc']";
$accSwitcherDropdown: "#react-root > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2)";

// returns calc function for evenly spacing the navbar/other parts
@function space($val) {
  @return calc((100vw - #{$val}) / 2);
}

// returns val with --font-increment added
@function incr($val) {
  @return calc(#{$val} + var(--font-increment));
}


// normal display
@media only screen and (min-width: 1350px) {
  body:not(.gt2-opt-small-sidebars) {
    main > div {
      width: 1320px !important;
    }
    .gt2-nav-left {
      margin-left: space(1335px);
    }
    .gt2-nav-right {
      margin-right: space(1335px);
    }

    #{$navbarDropdown} {
      right: space(1335px) !important;
    }
    #{$accSwitcherDropdown} {
      left: space(1248px) !important;
      right: unset !important;
    }

    &.gt2-opt-sticky-sidebars {
      div[data-testid=primaryColumn] {
        left: 360px;
      }
    }
  }
}


// normal display (with smallSidebars enabled)
@media only screen and (min-width: 1230px) {
  .gt2-opt-small-sidebars {
    main > div {
      width: 1200px !important;
    }
    .gt2-nav-left {
      margin-left: space(1220px);
    }
    .gt2-nav-right {
      margin-right: space(1220px);
    }

    #{$navbarDropdown} {
      right: space(1220px) !important;
    }
    #{$accSwitcherDropdown} {
      left: space(1248px) !important;
      right: unset !important;
    }
    &.gt2-opt-sticky-sidebars {
      div[data-testid=primaryColumn] {
        left: 300px;
      }
    }
  }
}


// only right sidebar
@media only screen and (max-width: 1350px)
                   and (min-width: 1095px) {
  body:not(.gt2-opt-small-sidebars) {
    main > div {
      width: 960px !important;
    }
    main > div > div > div {
      left: 0 !important;
    }
    .gt2-nav-left {
      margin-left: space(975px);
    }
    .gt2-nav-right {
      margin-right: space(975px);
    }

    #{$navbarDropdown} {
      right: space(975px) !important;
    }

    // hide sidebar
    .gt2-left-sidebar {
      display: none;
    }
  }

  #{$accSwitcherDropdown} {
    left: unset !important;
    right: space(960px) !important;
  }
}


// right small sidebar (for reuse)
@mixin displayRightSmallSidebar {
  main > div {
    width: 900px !important;
    & > div > div {
      justify-content: unset !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(915px);
  }
  .gt2-nav-right {
    margin-right: space(915px);
  }
  #{$navbarDropdown} {
    right: space(915px) !important;
  }
  #{$accSwitcherDropdown} {
    top: 195px !important;
    right: space(902.5px) !important;
  }
  // smaller search
  .gt2-search > div {
    width: 270px !important;
  }
}


// only right sidebar (with smallSidebars enabled)
@media only screen and (max-width: 1230px)
                   and (min-width: 1095px) {
  .gt2-opt-small-sidebars {
    @include displayRightSmallSidebar;
  }
}


// right small sidebar
@media only screen and (max-width: 1095px) {
  @include displayRightSmallSidebar;
}


// some right sidebar
@mixin someRightSidebar {
  div[data-testid=primaryColumn] {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1350px)
                   and (min-width: 1005px) {
  body:not(.gt2-opt-small-sidebars) {
    @include someRightSidebar;
  }
  .gt2-opt-small-sidebars {
    @media only screen and (max-width: 1230px) {
      @include someRightSidebar;
    }
  }
}


// no sidebars at all
@media only screen and (max-width: 1005px) {
  main > div {
    width: 600px !important;
    & > div > div > div:nth-child(1) {
      margin-right: 0 !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(620px);
  }
  .gt2-nav-right {
    margin-right: space(620px);
  }
  #{$navbarDropdown} {
    right: space(620px) !important;
  }
}

// hide header completely
header {
  display: none !important;
}


main {
  margin-top: 56px !important;
  align-items: center !important;

  & > div > div > div {

    div[data-testid=primaryColumn],
    & > section {
      border-top-width: 1px !important;
    }

    div[data-testid=sidebarColumn] {
      margin-right: 0;

      & > div > div:nth-child(2) {

        // top: 0 !important;
        // position: sticky;

        & > div > div > div {
          padding: 0;

          // apply theme to sidebar elements
          & > div {
            border-radius: 0;
            border: 1px solid var(--color-gray-dark);
            background-color: var(--color-elem);
            margin-bottom: 10px;

            &:nth-last-child(1) nav {
              padding: 15px;
            }

            &:empty {
              display: none;
            }
          }
        }
      }
    }
    // settings
    & > section:nth-last-child(1) {
      & > div:nth-child(3),
      & > div:nth-child(4) {
        display: none;
      }
    }
  }
}

// old profile layout
.gt2-profile-banner {
  width: 100%;
  position: absolute;
  height: calc(100vw / 3);
  margin-top: 46px;
}

.gt2-profile-banner ~ main,
.gt2-profile-banner ~ header .gt2-trends {
  margin-top: calc(56px + (100vw / 3)) !important;
}


// options

.gt2-opt-sticky-sidebars {
  &:not(.gt2-page-with-sections) {
    .gt2-left-sidebar {
      position: fixed;
    }
  }
}

body:not(.gt2-opt-sticky-sidebars) {
  div[data-testid=sidebarColumn] > div > div:nth-child(2) {
    top: 0 !important;
    position: absolute;
  }
}

.gt2-opt-small-sidebars {
  .gt2-left-sidebar,
  div[data-testid=sidebarColumn],
  div[data-testid=sidebarColumn] > div > div:nth-child(2) > div > div {
    width: 290px;
  }
  .gt2-toggle-acc-switcher-dropdown {
    bottom: 82px !important;
  }
  #{$accSwitcherDropdown} {
    top: 200px !important;
  }
}

body:not(.gt2-opt-small-sidebars) {
  #{$accSwitcherDropdown} {
    top: 220px !important;
  }
}


.gt2-opt-square-avatars {
  // /home new tweet
  div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div:nth-child(1),
  // profile
  div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(1) > div > div:nth-child(1),
  // tweet
  div[data-testid=tweet] > div:nth-child(1) > div > div,
  // sidebar (who to follow)
  div[data-testid=UserCell] > div:nth-child(1) > div:nth-child(1) > div {
    & > a,
    & > a > div:nth-child(1) > div:nth-child(2) > div {
      border-radius: 10%;
    }
    & > a[href$="/photo"] {
      border-radius: 11.5%
    }
  }
  // tweet (show this thread)
  article + a[href*="/status/"] {
    div[role=presentation],
    div[role=presentation] > div:nth-child(1) > div:nth-child(2) > div {
      border-radius: 10%;
    }
  }

  // dashboard profile
  .gt2-dashboard-profile .gt2-avatar {
    border-radius: 10%;
  }
}

.gt2-opt-bigger-previews {
  div[data-testid=tweet] > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div > div > div > a[href*="/photo/"] > div {
    & > div:nth-child(1) {
      padding-bottom: 0 !important;
    }
    & > div:nth-child(2) {
      position: relative;
      display: table;

      & > div {
        display: contents;
        position: relative;
        & > div {
          display: none;
        }
        & > img {
          position: relative;
          opacity: 1;
        }
      }
    }
  }
}


/*
.gt2-opt-keep-tweets-in-tl {
  div[data-testid=primaryColumn] > div > div:nth-child(4) > div > div > section > div:nth-child(2) > div > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}*/


// hide search when added to navbar
.gt2-search-added div[data-testid=sidebarColumn] > div > div:nth-child(2) > div > div > div > div:nth-child(1) {
  display: none;
}

// acc switcher dropdown
#{$accSwitcherDropdown} {
  bottom: unset !important;

  & > div > div:nth-child(2) > div > div > div {

    & > svg {
      position: absolute;
      fill: var(--color-elem);
      filter: drop-shadow(var(--color-shadow) 0.25px -1px 1px);
      transform: unset !important;
      bottom: unset !important;
      top: -11px !important;
      right: 5px !important;
      left: unset !important;
    }
    & > div > div {
      padding: 0;
    }
  }

}


// global background color
body {
  background-color: var(--color-bg) !important;
}


div[data-testid=primaryColumn] > div {
  // scroll behind nav bar
  & > div:nth-child(1) {
    position: relative;
  }

  // compose tweet
  & > div:nth-child(2):not(.gt2-compose-large) {
    & > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) {
      display: none;
    }
  }
}

// colorized buttons for image modals
div[aria-labelledby=modal-header] > div > div > div:nth-child(1) > div:nth-child(2) > div > div {
  // comments
  & > div:nth-child(1) svg {
    fill: #1da1f2;
  }
  // retweets
  & > div:nth-child(2) svg {
    fill: #17bf63;
  }
  // likes
  & > div:nth-child(3) svg {
    fill: #e0245e;
  }
}


.gt2-svg {
  fill: var(--color-gray-light);
}

// hidden tweets (autoRefresh)
.gt2-hidden-tweet,
.gt2-hidden-tweet-part {
  display: none;
}


.gt2-show-hidden-tweets {
  color: var(--color-text);
  height: auto;
  padding: 10px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

// spark settings
.gt2-spark-toggle {
  padding: 15px;
  display: inline-flex;

  svg {
    height: 1.25em;
    margin-right: 10px;
  }

  div {
    color: var(--color-text);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-elem-sel);
  }
}


// navbar dropdown
#{$navbarDropdown} {
  top: 54px;

  & > div > div > div {
    display: flex;
    // existing elements
    & > div > a {
      transition-duration: 0s;
    }

    // inserted elements
    & > a {
      padding: 0;
      & > div {
        padding: incr(15px);
        & > div:nth-child(2) {
          margin: 0;
          font-size: incr(15px);
        }
      }

      span {
        font-size: incr(15px);
        font-weight: 400;
        margin-left: 0;
        color: var(--color-text);
      }
      svg {
        color: var(--color-gray-light);
        margin-right: 10px;
        height: 1.25em;
      }
    }

    // color changes on hover
    // & > div > a:hover,
    & > a:hover {
      background-color: var(--color-elem-sel);
      // svg,
      // span {
      //   color: white;
      // }
    }
  }
}

// link stuff
.gt2-dashboard-profile a,
a.gt2-trend {
  text-decoration: none;
  &:visited {
    color: unset;
  }
  &:link {
    color: unset;
  }
}


// navbar
.gt2-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 46px;
  position: fixed;
  width: 100%;
  background-color: var(--color-navbar);
  z-index: 1;
  display: flex;

  &.not-focused {
    z-index: -1;
    .gt2-nav-center {
      margin-right: calc(var(--scrollbar-width) / 2);
    }
    .gt2-nav-right {
      padding-right: var(--scrollbar-width);
    }
  }

  .gt2-nav-left {

    & > a {
      padding: 0;
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      display: inline-flex;
      height: 100%;
      transition: all .15s ease-in-out;

      & > div {
        background-color: unset !important;
        margin-top: calc(var(--font-increment) * -1.25);
        padding: 10px 15px;

        & > div:nth-child(1) > div {
          background-color: var(--color-user);
          border-color: var(--color-elem);
          font-size: calc(11px + var(--font-increment) * 0.75);
        }
        & > div:nth-child(2) {
          color: var(--color-gray);
          font-size: incr(13px);
          margin-left: incr(3px);
          margin-right: 3px;
        }
      }
    }

    & > a.active,
    & > a:hover {
      border-bottom: 2px solid var(--color-user);
    }

    & > a svg {
      color: var(--color-gray-light);
      width: incr(23px);
    }

    & > a.active > div > div:nth-child(2),
    & > a.active svg,
    & > a:hover > div > div:nth-child(2),
    & > a:hover svg {
      color: var(--color-user);
    }
  }

  // twitter logo
  .gt2-nav-center {
    position: absolute;
    right: calc(50% - 12px);
    width: incr(24px);
    margin-top: calc(8px - var(--font-increment));
    & svg {
      color: #1da1f2;
    }
  }

  // nav right
  .gt2-nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 100%;

    .gt2-search > div {
      height: auto;
      width: 300px;
      right: 10px;
      background: unset;
      position: relative;
      margin-bottom: 0;
      border: 1px solid var(--color-gray-dark);
      border-radius: 21px;
      transition: all .2s ease-in-out;
      & input {
        font-size: 14px;
        padding: 8px;
        height: 32px;
        color: var(--color-text);
      }
      &:focus-within {
        border: 2px solid var(--color-user);
      }

      form > div:nth-child(1) > div {
        border: none;
        background-color: var(--color-elem);
      }
    }

    .gt2-toggle-navbar-dropdown {
      margin-left: 5px;
      margin-right: 15px;

      img {
        border-radius: 9999px;
        height: 32px;
        width: 32px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .gt2-compose {
      display: inline-flex;
      align-items: center;
      font-size: var(--global-font-size);
      font-weight: 700;
      min-height: 34px;
      background-color: var(--color-user);
      color: white;
      padding: 0 16px;
      border-radius: 9999px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


.gt2-left-sidebar {
  width: 350px;
  margin-right: 10px;

  & > div {
    margin-bottom: 10px;
    position: relative;
  }

  // moved trends
  .gt2-trends {
    border: solid 1px var(--color-gray-dark);
    border-radius: 0;
    background-color: var(--color-elem);
  }
}

// dashboard profile
.gt2-dashboard-profile {
  z-index: 1;
  right: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-elem);
  box-sizing: border-box;

  .gt2-banner {
    background-size: 100%;
    height: 116.67px;
    background-position: 0 50%;
    width: 100%;
  }
  & > div {

    .gt2-avatar {
      display: inline-block;
      margin: -30px 0 0 8px;
      padding: 1px;
      background-color: var(--color-elem);
      border-radius: 9999px;

      img {
        border: 3px solid var(--color-elem);
        border-radius: inherit;
        width: 82px;
        height: 82px;
        box-sizing: border-box;
      }
    }

    .gt2-user {
      color: var(--color-text);
      position: absolute;
      top: calc(125px - var(--font-increment) * 2);
      left: 100px;
      width: 185px;
      height: fit-content;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      display: flex;
      flex-direction: column;

      .gt2-name {
        font-size: incr(18px);
        font-weight: 700;
        text-decoration: underline;
      }
      .gt2-screenname {
        font-size: incr(14px);
        color: var(--color-gray);

        &:hover span {
          text-decoration: underline;
        }
      }
    }

    .gt2-toggle-acc-switcher-dropdown {
      right: 7.5px;
      bottom: calc(93px + (var(--font-increment) + 2px) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 27px;
      width: 27px;

      div {
        transition: opacity 0.2s ease-in-out;
        background-color: var(--color-user);
        opacity: 0;
        border-radius: 9999px;
        position: absolute;
        height: 27px;
        width: 27px;
      }

      svg {
        width: 1em;
        height: 1em;
      }

      &:hover {
        cursor: pointer;
        div {
          opacity: 0.1;
        }
        svg {
          color: var(--color-user);
        }
      }
    }

    .gt2-stats {
      padding: 16px;
      margin-top: calc(var(--font-increment) * -2);

      ul {
        display: table;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          display: table-cell;
          list-style: none;
          a {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
              font-size: incr(13px);
              font-weight: bold;
              transition: color .15s ease-in-out;
              color: var(--color-gray);
            }
            span:nth-child(2) {
              font-size: incr(19px);
              font-weight: bold;
              line-height: 1;
              padding-top: 3px;
              color: var(--color-user);
            }
          }

          a:hover span:nth-child(1) {
            color: var(--color-user);
          }
        }
      }
    }
  }
}

// small dashboard profile
.gt2-opt-small-sidebars .gt2-dashboard-profile,
.gt2-dashboard-profile.gt2-small {
  width: 290px;
  .gt2-banner {
    height: 95px;
  }

  .gt2-avatar img {
    width: 72px;
    height: 72px;
  }

  .gt2-user {
    top: 103px;
    left: 90px;
  }

  .gt2-stats {
    li {
      width: 90px;
    }
  }
}

div[data-testid=sidebarColumn] .gt2-dashboard-profile {
  position: relative;
  margin: 0;
  width: 100%;
}


// gt2 settings
.gt2-toggle-settings {
  background-color: var(--color-elem);
  border-width: 1px 0;
  border-color: var(--color-gray-dark);
  border-style: solid;
  box-sizing: border-box;
  font-size: incr(15px);
  color: var(--color-text);
  text-decoration: none;

  div {
    width: inherit;
    padding: 11.7px 15px;
  }

  svg {
    transform: rotate(-90deg);
    width: incr(1.25em);
    position: absolute;
    right: 15px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-elem-sel);
  }
}

.gt2-settings-active > div:not(:empty),
.gt2-settings-active > div:not(:empty) > div:not(:empty) {
  background-color: var(--color-elem);

  & > div:nth-child(2) {
    border-right-width: 0;
  }
}
.gt2-settings-active .gt2-toggle-settings {
  background-color: var(--color-elem-sel);
  div {
    border-width: 0 2px 0 0;
    border-color: var(--color-user);
    border-style: solid;
  }
}

.gt2-settings-header,
.gt2-settings-sub-header,
.gt2-setting {
  color: var(--color-text);
  box-sizing: border-box;
  border-width: 0 0 1px 0;
  border-color: var(--color-gray-dark);
  border-style: solid;
  background-color: var(--color-elem);
}

.gt2-settings-header {
  display: flex;
  align-items: center;
  padding: 0 15px;

  height: 53px;
}

.gt2-settings-header,
.gt2-settings-sub-header {
  font-size: incr(19px) !important;
  font-weight: 800;
}

.gt2-settings-sub-header {
  padding: 10px 15px;
  line-height: 1.3135em;
}

.gt2-setting {
  padding: 15px;

  & > div {
    display: flex;
    justify-content: space-between;

    .gt2-setting-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;

      div {
        position: absolute;
        width: 20px;
        height: 20px;
      }

      // hover shadow
      div:nth-child(1) {
        transition: opacity 0.2s ease-in-out;
        background-color: var(--color-gray);
        opacity: 0;
        border-radius: 9999px;
        padding: 10px;
      }

      &:not(.gt2-disabled):hover div:nth-child(1) {
        opacity: 0.1;
      }

      // checkbox
      div:nth-child(2) {
        border-radius: 4px;
        border: 2px solid var(--color-gray);
        box-sizing: border-box;

        svg {
          fill: white;
          display: none;
        }
      }

      &.gt2-active {
        div:nth-child(2) {
          background-color: var(--color-user);
          border-color: var(--color-user);
        }
        svg {
          display: block !important;
        }
      }

      &.gt2-disabled {
        cursor: not-allowed;

        &.gt2-active {
          div:nth-child(2) {
            background-color: var(--color-gray-dark);
            border-color: var(--color-gray-dark);
          }
        }
      }
    }

  }


  & > span {
    display: block;
    font-size: incr(13px);
    padding-top: 10px;
    color: var(--color-gray-light);
  }
}
