:root {
  --bgColors:$;
  --color-user:       $userColor;
  --scrollbar-width:  $scrollbarWidth;
  --global-font-size: $globalFontSize;

  --font-increment:   calc(var(--global-font-size) - 15px);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

$navbarDropdown: "div[role=menu][style^='max-height: calc']";

// returns calc function for evenly spacing the navbar/other parts
@function space($val) {
  @return calc((100vw - #{$val} - var(--scrollbar-width)) / 2);
}

// returns val with --font-increment added
@function incr($val) {
  @return calc(#{$val} + var(--font-increment));
}


@mixin hoverableSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1.5em;
  width: 1.5em;

  div {
    transition: opacity .2s ease-in-out;
    background-color: var(--color-user);
    opacity: 0;
    border-radius: 9999px;
    position: absolute;
    height: 39px;
    width: 39px;
  }

  svg {
    width: 1em;
    height: 1em;
    fill: var(--color-user);
  }

  &:hover {
    cursor: pointer;
    div {
      opacity: .1;
    }
    svg {
      fill: var(--color-user) !important;
    }
  }
}

@mixin grayscaleHover {
  transition: filter .2s ease-in-out;
  backface-visibility: hidden;

  &:hover {
    filter: brightness(87.5%);
    -webkit-filter: brightness(87.5%);
  }
}


// small dashboard profile
@mixin smallDashboardProfile {
  .gt2-dashboard-profile {
    width: 290px;
    .gt2-banner {
      height: 96px;
    }

    .gt2-avatar img {
      width: 72px;
      height: 72px;
    }

    .gt2-toggle-lo-nightmode {
      bottom: calc(83px + (var(--font-increment) + 2px) / 2);
    }

    .gt2-user {
      top: 103px;
      left: 90px;
      .gt2-name {
        width: 160px;
      }
    }
  }
}


// normal display
@media only screen and (min-width: 1350px) {
  body:not(.gt2-opt-small-sidebars) {
    main > div,
    main > div > div > div {
      width: 1320px !important;
    }
    .gt2-nav-left {
      margin-left: space(1318px);
    }
    .gt2-nav-right {
      margin-right: space(1318px);
    }

    #{$navbarDropdown} {
      right: space(1320px) !important;
    }

    &.gt2-opt-sticky-sidebars {
      div[data-testid=primaryColumn] {
        margin-left: 360px;
      }
    }

    &.gt2-page-settings {
      main {
        section:nth-last-child(2) {
          margin-left: 360px;
          width: 360px;
        }
        section:nth-last-child(1) {
          margin-left: 720px;
        }
      }
    }

    &.gt2-not-logged-in {
      &.gt2-opt-sticky-sidebars {
        div[data-testid=sidebarColumn] {
          margin-left: 370px;
        }
      }
      &:not(.gt2-opt-sticky-sidebars) {
        div[data-testid=primaryColumn] {
          margin: 0 10px;
        }
        div[data-testid=sidebarColumn] {
          margin-left: 0;
        }
      }
      &.gt2-page-settings {
        main > div > div > div {
          max-width: 1310px;
        }
      }
    }
  }
}


// normal display (with smallSidebars enabled)
@media only screen and (min-width: 1230px) {
  .gt2-opt-small-sidebars {
    main > div {
      width: 1200px !important;
      & > div > div {
        max-width: 1200px !important;
        width: 1200px !important;
      }
    }
    .gt2-nav-left {
      margin-left: space(1198px);
    }
    .gt2-nav-right {
      margin-right: space(1198px);
    }

    #{$navbarDropdown} {
      right: space(1200px) !important;
    }

    &.gt2-opt-sticky-sidebars {
      div[data-testid=primaryColumn] {
        margin-left: 300px;
      }
    }

    &.gt2-page-settings {
      main {
        section:nth-last-child(2) {
          margin-left: 300px;
          width: 300px;
        }
        section:nth-last-child(1) {
          margin-left: 600px;
        }
      }
    }

    &.gt2-not-logged-in {
      &.gt2-opt-sticky-sidebars {
        div[data-testid=sidebarColumn] {
          margin-left: 310px;
        }
      }
      &:not(.gt2-opt-sticky-sidebars) {
        div[data-testid=primaryColumn] {
          margin: 0 10px;
        }
        div[data-testid=sidebarColumn] {
          margin-left: 0;
        }
      }
    }
  }
}


// only right sidebar
@media only screen and (max-width: 1350px)
                   and (min-width: 1095px) {
  body:not(.gt2-opt-small-sidebars) {
    main > div {
      width: 960px !important;
      & > div > div {
        width: 960px !important;
        left: 0 !important;
      }
    }
    .gt2-nav-left {
      margin-left: space(958px);
    }
    .gt2-nav-right {
      margin-right: space(958px);
    }

    #{$navbarDropdown} {
      right: space(960px) !important;
    }

    // hide sidebar
    .gt2-left-sidebar {
      display: none;
    }

    &.gt2-page-settings {
      main {
        section:nth-last-child(2) {
          margin-left: 0;
          width: 360px;
        }
        section:nth-last-child(1) {
          margin-left: 360px;
        }
      }
    }
  }

}


// right small sidebar (for reuse)
@mixin displayRightSmallSidebar {
  main > div {
    width: 900px !important;
    & > div > div {
      width: 900px !important;
      justify-content: unset !important;

      div[data-testid=sidebarColumn],
      div[data-testid=sidebarColumn] > div > div {
        width: 290px;
      }
    }
  }

  .gt2-nav-left {
    margin-left: space(898px);
  }
  .gt2-nav-right {
    margin-right: space(898px);
  }
  #{$navbarDropdown} {
    right: space(900px) !important;
  }

  // smaller search
  .gt2-search > div {
    width: 270px !important;
  }
}


// only right sidebar (with smallSidebars enabled)
@media only screen and (min-width: 1095px)
                   and (max-width: 1230px) {
  .gt2-opt-small-sidebars {
    @include displayRightSmallSidebar;
    &.gt2-page-settings {
      main {
        section:nth-last-child(2) {
          margin-left: 0;
          width: 300px;
        }
        section:nth-last-child(1) {
          margin-left: 300px;
        }
      }
    }
  }
}


// right small sidebar
@media only screen and (min-width: 1005px)
                   and (max-width: 1095px) {
  @include displayRightSmallSidebar;
  @include smallDashboardProfile;

  .gt2-page-settings {
    main {
      section:nth-last-child(2) {
        margin-left: 0;
        width: 300px;
      }
      section:nth-last-child(1) {
        margin-left: 300px;
      }
    }
  }
}


// any right sidebar
@mixin someRightSidebar {
  div[data-testid=primaryColumn] {
    margin-right: 10px;
  }
  .gt2-left-sidebar {
    display: none;
  }
  .gt2-settings-back {
    display: none !important;
  }
}
@media only screen and (max-width: 1350px)
                   and (min-width: 1005px) {
  body:not(.gt2-opt-small-sidebars) {
    @include someRightSidebar;

    &.gt2-not-logged-in {
      div[data-testid=sidebarColumn] {
        margin-left: 10px;
      }
    }
  }
  .gt2-opt-small-sidebars {
    @media only screen and (max-width: 1230px) {
      @include someRightSidebar;
      &.gt2-not-logged-in {
        div[data-testid=sidebarColumn] {
          margin-left: 10px;
        }
      }
    }
  }
}


// no sidebars at all
@media only screen and (max-width: 1005px) {
  main > div {
    width: 600px !important;
    & > div > div > div:nth-child(1) {
      margin-right: 0 !important;
    }
  }

  .gt2-nav-left {
    margin-left: space(598px);
    .gt2-nav-header {
      display: none;
    }
  }
  .gt2-nav-right {
    margin-right: space(598px);
  }
  #{$navbarDropdown} {
    right: space(600px) !important;
  }

  .gt2-left-sidebar {
    display: none;
  }

  .gt2-page-settings {
    main > div > div > div {
      section {
        margin-bottom: 0 !important;
      }
      border-width: 1px;
      height: max-content;
      flex-grow: 0;
      margin-bottom: 10px;
      > div:last-child {
        margin-bottom: 0;
      }
    }
    &.gt2-page-settings-active {
      main > div > div > div > div:not(.gt2-left-sidebar) {
        display: none;
      }
    }
    .gt2-settings-back {
      display: flex !important;
    }
  }


  .gt2-not-logged-in {
    div[data-testid=sidebarColumn] {
      display: none;
    }
  }
}

// hide header completely
body:not(.gt2-not-logged-in) {
  header {
    display: none !important;
  }
  main {
    margin-top: 56px !important;
  }
}

.gt2-not-logged-in {
  main {
    margin-top: 10px;
    & > div > div > div {
      margin: 0;
      padding: 0;

      div[data-testid=primaryColumn] {
        margin: 0;
      }
    }
  }
}

.gt2-page-error {
  main > div > div > div {
    display: inline;
    .gt2-left-sidebar {
      float: left;
      position: relative !important;

      & + div {
        width: 600px;
        background-color: var(--color-elem);
        float: left;
        margin: 0 10px;
      }
    }
  }
}

// global background color
body {
  background-color: var(--color-bg) !important;
}

// minimalscrollbar
html[data-minimalscrollbar] {
  body {
    margin-right: 0 !important;
  }
}


main {
  align-items: center !important;

  & > div > div {
    margin: 0 !important;
  }

  & > div > div > div {

    // compact conversations on tweets
    div[data-testid=primaryColumn] {
      height: fit-content;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--color-gray-dark);
      & > div {

        // scroll behind nav bar
        & > div:nth-child(1) {
          position: relative;
        }

        // small compose tweet
        & > div:nth-child(2):not(.gt2-compose-large) {
          & > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div:nth-child(2) > div:nth-child(2) {
            display: none;
          }
        }

        // put tweet images in foreground
        div[data-testid=tweet] img {
          z-index: 1;
        }

        & > div:nth-child(2) > div > section > div > div {
          padding-bottom: 0 !important;
          & > div > div:not([class]) {
            &:nth-last-child(2) > div {
              border-bottom-width: 0;
            }

            &:last-child > div {
              height: fit-content;
              height: -moz-fit-content;
              height: -webkit-fit-content;
              & > div {
                height: calc(6.5625rem);
                &:empty {
                  display: none;
                }
              }
            }
          }
        }

      }
    }

    div[data-testid=primaryColumn],
    & > section {
      border-top-width: 1px !important;
    }

    div[data-testid=sidebarColumn] {
      margin-right: 0;

      & > div {
        min-height: 0 !important;

        & > div:nth-child(2) > div {
          margin-bottom: 10px;

          & > div > div {
            padding: 0;

            // apply theme to sidebar elements
            & > div {
              border-radius: 0;
              border: 1px solid var(--color-gray-dark);
              background-color: var(--color-elem);
              margin-bottom: 10px;

              &:nth-last-child(1) nav {
                padding: 15px;
              }

              &:empty {
                display: none;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    // settings
    & > section:nth-last-child(1) {
      & > div:nth-child(3),
      & > div:nth-child(4) {
        display: none;
      }
    }
  }
}

// old profile layout
.gt2-profile-banner {
  width: 100%;
  position: absolute;
  height: calc(100vw / 3);
  margin-top: 46px;
}

.gt2-profile-banner ~ main,
.gt2-profile-banner ~ header .gt2-trends {
  margin-top: calc(56px + (100vw / 3)) !important;
}


// options

.gt2-opt-sticky-sidebars {
  .gt2-left-sidebar {
    position: fixed;
  }

  .gt2-left-sidebar {
    height: calc(100vh - 57px);
  }

  // indepentently scrollable right sidebar
  div[data-testid=sidebarColumn] > div {

    & > div:nth-child(1) {
      margin-top: 0 !important;
    }

    > div:nth-child(2) {
      position: fixed;
      top: 56px !important;
      bottom: unset !important;
      height: calc(100vh - 47px);
      padding-top: 10px;
      margin-top: -10px;
      overflow-x: hidden;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // bigger native navbar
  &.gt2-not-logged-in {
    div[data-testid=sidebarColumn] > div > div:nth-child(2) {
      height: calc(100vh - 64px);
      top: 64px !important;
    }
  }
}

body:not(.gt2-opt-sticky-sidebars) {
  min-height: unset !important;
  div[data-testid=sidebarColumn] > div {
    & > div:nth-child(1) {
      margin-top: 0 !important;
    }
    & > div:nth-child(2) {
      top: 0 !important;
      bottom: unset !important;
      position: absolute;
    }
  }
}

.gt2-opt-small-sidebars {
  .gt2-left-sidebar,
  div[data-testid=sidebarColumn],
  div[data-testid=sidebarColumn] > div > div:nth-child(2),
  div[data-testid=sidebarColumn] > div > div:nth-child(2) > div > div {
    width: 290px;
  }
  .gt2-toggle-acc-switcher-dropdown {
    bottom: 82px !important;
  }

  @include smallDashboardProfile;
}


.gt2-opt-square-avatars {
  // /home new tweet
  div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div:nth-child(1),
  // profile
  div[data-testid=primaryColumn] > div > div:nth-child(2) > div > div > div:nth-child(1) > div > div:nth-child(1),
  // tweet
  div[data-testid=tweet] > div:nth-child(1) > div > div,
  // sidebar (who to follow)
  div[data-testid=UserCell] > div:nth-child(1) > div:nth-child(1) > div,
  // small profile modals
  #react-root div[data-at-shortcut-keys] > div:nth-child(2) > div > div > div > div > div > div > div:nth-child(1),
  // notifications
  article > div > div:nth-child(2) > div:nth-child(1) > div > div {
    & > a,
    & > a > div:nth-child(1) > div:nth-child(2) > div {
      border-radius: 10%;
    }
    & > a > div:nth-child(2) {
      border-width: 0;
      border-radius: 10%;
    }
    & > a[href$="/photo"] {
      border-radius: 11.5%
    }
  }

  // tweet (show this thread)
  article + a[href*="/status/"] {
    div[role=presentation],
    div[role=presentation] > div:nth-child(1) > div:nth-child(2) > div {
      border-radius: 10%;
    }
  }

  // dashboard profile
  .gt2-dashboard-profile .gt2-avatar {
    border-radius: 11.5%;
    img {
      border-radius: 10%;
    }
  }
}

.gt2-opt-bigger-previews {
  div[data-testid=tweet] > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div > div > div > a[href*="/photo/"] > div {
    & > div:nth-child(1) {
      padding-bottom: 0 !important;
    }
    & > div:nth-child(2) {
      position: relative;
      display: table;

      & > div {
        display: contents;
        position: relative;
        & > div {
          display: none;
        }
        & > img {
          position: relative;
          opacity: 1;
        }
      }
    }
  }
}

// hide translated tweets
.gt2-opt-hide-translate-tweet-button {
  div[data-testid=tweet] + div div[lang] + div[role=button] {
    display: none;
  }
}

.gt2-opt-hide-message-box {
  div[data-testid=DMDrawer] {
    display: none;
  }
}


/*
.gt2-opt-keep-tweets-in-tl {
  div[data-testid=primaryColumn] > div > div:nth-child(4) > div > div > section > div:nth-child(2) > div > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}*/


.gt2-hide-spark-opt {
  #react-root div[data-at-shortcut-keys] > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(3) > div > div > div {
    display: none;
  }
}

// hide search when added to navbar
.gt2-search-added div[data-testid=sidebarColumn] > div > div:nth-child(2) > div > div > div > div:nth-child(1) {
  display: none;
}

// acc switcher dropdown
.gt2-acc-switcher-active #react-root > div > div > h2 + div > div:nth-child(2) > div:nth-child(2) {
  bottom: unset !important;
  right: unset !important;

  & > div > div:nth-child(2) > div > div > div {

    & > svg {
      position: absolute;
      fill: var(--color-elem);
      filter: drop-shadow(var(--color-shadow) 0.25px -1px 1px);
      transform: unset !important;
      bottom: unset !important;
      top: -11px !important;
      right: 5px !important;
      left: unset !important;
    }
    & > div > div {
      padding: 0;
    }
  }

}




// colorized buttons for image modals
div[aria-labelledby=modal-header] > div > div > div:nth-child(1) > div:nth-child(2) > div > div {
  // comments
  div[data-testid=reply]:hover,
  div[role=button]:not([data-testid]):hover {
    & > div > div > div {
      background-color: rgba(29, 161, 242, 0.1);
    }
    svg {
      fill: #1da1f2;
    }
  }
  // retweets
  div[data-testid=retweet]:hover,
  div[data-testid=unretweet]:hover {
    & > div > div > div {
      background-color: rgba(23, 191, 99, 0.1);
    }
  }
  div[data-testid=retweet]:hover,
  div[data-testid=unretweet] {
    svg {
      fill: #17bf63;
    }
  }

  // likes
  div[data-testid=like]:hover,
  div[data-testid=unlike]:hover {
    & > div > div > div {
      background-color: rgba(224, 36, 94, 0.1);
    }
  }
  div[data-testid=like]:hover,
  div[data-testid=unlike] {
    svg {
      fill: #e0245e;
    }
  }
}


// color carets with the user color
div[data-testid=caret] {
  & > div > div > div {
    transition: all .2s ease-in-out;
    background-color: var(--color-user);
    opacity: 0;
    &:hover {
      opacity: .1;
      & + svg {
        fill: var(--color-user);
      }
    }
  }
  svg {
    fill: var(--color-gray-light);
    pointer-events: none;
  }
}


.gt2-svg {
  fill: var(--color-gray-light);
}

// hidden tweets (autoRefresh)
.gt2-hidden-tweet,
.gt2-hidden-tweet-part {
  display: none;
}


.gt2-show-hidden-tweets {
  color: var(--color-text);
  height: auto !important;
  padding: 10px !important;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

// spark settings
.gt2-spark-toggle {
  padding: 15px;
  display: inline-flex;

  svg {
    height: 1.25em;
    margin-right: 10px;
  }

  div {
    color: var(--color-text);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-elem-sel);
  }
}


// navbar dropdown
#{$navbarDropdown} {
  top: 54px;

  & > div > div > div {
    display: flex;
    // existing elements
    & > div > a {
      transition-duration: 0s;
    }

    // inserted elements
    & > a {
      padding: 0;
      & > div {
        padding: incr(15px);
        & > div:nth-child(2) {
          display: none;
        }
      }


      span {
        font-size: incr(15px);
        font-weight: 400;
        margin-left: 0;
        color: var(--color-text);
      }
      svg {
        color: var(--color-gray-light);
        margin-right: 10px;
        height: 1.25em;
      }
    }

    // color changes on hover
    // & > div > a:hover,
    & > a:hover {
      background-color: var(--color-elem-sel);
      // svg,
      // span {
      //   color: white;
      // }
    }
  }
}

// link stuff
.gt2-dashboard-profile a,
a.gt2-trend {
  text-decoration: none;
  &:visited {
    color: unset;
  }
  &:link {
    color: unset;
  }
}


// navbar
.gt2-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 46px;
  position: fixed;
  width: 100%;
  background-color: var(--color-navbar);
  z-index: 1;
  display: flex;

  .gt2-nav-left {

    & > a {
      padding: 0;
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      display: inline-flex;
      height: 100%;
      transition: all .15s ease-in-out;

      & > div {
        background-color: unset !important;
        margin-top: calc(var(--font-increment) * -1.25);
        padding: 10px 15px;

        & > div:nth-child(1) > div {
          background-color: var(--color-user);
          border-color: var(--color-elem);
          font-size: calc(11px + var(--font-increment) * 0.75);
        }
        & > div:not(:first-child):not(.gt2-nav-header) {
          display: none;
        }
        .gt2-nav-header {
          color: var(--color-gray);
          font-size: incr(13px);
          margin-left: incr(3px);
          margin-right: 3px;
          font-weight: bold;
        }
      }
    }

    & > a.active,
    & > a:hover {
      border-bottom: 2px solid var(--color-user);
    }

    & > a svg {
      color: var(--color-gray-light);
      width: incr(23px);
    }

    & > a.active > div > div:nth-child(2),
    & > a.active svg,
    & > a:hover > div > div:nth-child(2),
    & > a:hover svg {
      color: var(--color-user);
    }
  }

  // twitter logo
  .gt2-nav-center {
    position: absolute;
    right: calc(50% - 12px);
    width: incr(24px);
    margin-top: calc(8px - var(--font-increment));
    & svg {
      color: #1da1f2;
    }
  }

  // nav right
  .gt2-nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 100%;

    .gt2-search > div {
      height: auto;
      width: 300px;
      right: 10px;
      background: unset;
      position: relative;
      margin-bottom: 0;
      border: 1px solid var(--color-gray-dark);
      border-radius: 21px;
      transition: all .2s ease-in-out;
      & input {
        font-size: 14px;
        padding: 8px;
        height: 32px;
        color: var(--color-text);
      }
      &:focus-within {
        border: 2px solid var(--color-user);
      }

      form > div:nth-child(1) > div {
        border: none;
        background-color: var(--color-elem);
      }
    }

    .gt2-toggle-navbar-dropdown {
      margin-left: 5px;
      margin-right: 15px;
      height: 34px;
      width: 34px;

      img {
        border-radius: 9999px;
        height: 100%;
        width: 100%;
        @include grayscaleHover;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .gt2-compose {
      display: inline-flex;
      align-items: center;
      font-size: var(--global-font-size);
      font-weight: 700;
      min-height: 34px;
      background-color: var(--color-user);
      color: white;
      padding: 0 16px;
      border-radius: 9999px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// stuff to do on modal
body[style*="overflow-y: hidden"] {
  // hide navbar and other things
  .gt2-nav,
  .gt2-search-overflow-hider {
    z-index: -1 !important;
  }
  .gt2-nav-center {
    margin-right: calc(var(--scrollbar-width) / 2);
  }
  .gt2-nav-right {
    padding-right: var(--scrollbar-width);
  }
}

// /search overflow, let search box stay on top
.gt2-page-search {
  .gt2-search-overflow-hider {
    position: fixed;
    width: 600px;
    height: 9px;
    top: 47px;
    right: calc(50% - 300px);
    background-color: var(--color-bg);
    z-index: 1;
  }
  div[data-testid=primaryColumn] {
    border-top-width: 0 !important;
    & > div > div:nth-child(1) {
      position: sticky;
      top: 56px;
      border-top: 1px solid var(--color-gray-dark);
      transition: top .2s ease-in-out;
    }
  }
  &.gt2-scrolled-down {
    div[data-testid=primaryColumn] > div > div:nth-child(1) {
      top: calc(56px - 107px);
    }
  }
}

.gt2-page-settings {
  main {
    section div:nth-child(2) {
      margin-bottom: 0;
    }
    section:nth-last-child(2) {
      position: fixed;
      border-right-width: 0;
      border-bottom-width: 1px;
      > div:nth-child(2) {
        margin-bottom: 0;
      }
    }
    section:nth-last-child(1) {
      height: max-content;
      border-left-width: 1px;
      border-bottom-width: 1px;
      margin-bottom: 10px;
    }
  }

  .gt2-toggle-settings {
    background-color: var(--color-elem);
    border-top: 1px solid var(--color-gray-dark);
    box-sizing: border-box;
    font-size: incr(15px);
    color: var(--color-text);
    text-decoration: none;

    div {
      width: inherit;
      padding: 11.7px 15px;
    }

    svg {
      transform: rotate(-90deg);
      width: incr(1.25em);
      position: absolute;
      right: 15px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-elem-sel);
    }
  }

  &.gt2-page-settings-active {
    main section:nth-last-child(2) > div:nth-child(2) > div {
      & > div:not(:empty),
      & > div:not(:empty) > div:not(:empty) {
        background-color: var(--color-elem);

        & > div:nth-child(2) {
          border-right-width: 0;
        }
      }
    }

    .gt2-toggle-settings {
      background-color: var(--color-elem-sel);
      div {
        border-width: 0 2px 0 0;
        border-color: var(--color-user);
        border-style: solid;
      }
    }
  }


  .gt2-settings-header,
  .gt2-settings-sub-header,
  .gt2-setting {
    color: var(--color-text);
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-color: var(--color-gray-dark);
    border-style: solid;
    background-color: var(--color-elem);
  }

  .gt2-settings-header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 53px;

    .gt2-settings-back {
      @include hoverableSvg;
      width: 39px;
      height: 39px;
      position: relative;
      margin-left: -4px;
      margin-right: 18px;
      svg {
        width: 1.5em;
        height: 1.5em;
        font-size: 15px;
      }
    }
  }

  .gt2-settings-header,
  .gt2-settings-sub-header {
    font-size: incr(19px) !important;
    font-weight: 800;
  }

  .gt2-settings-sub-header {
    padding: 10px 15px;
    line-height: 1.3135em;
  }

  .gt2-settings-seperator {
    height: 10px;
    background-color: var(--color-seperator);
  }


  .gt2-setting {
    padding: 15px;

    & > div {
      display: flex;
      justify-content: space-between;

      .gt2-setting-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;

        div {
          position: absolute;
          width: 20px;
          height: 20px;
        }

        // hover shadow
        div:nth-child(1) {
          transition: opacity 0.2s ease-in-out;
          background-color: var(--color-gray);
          opacity: 0;
          border-radius: 9999px;
          padding: 10px;
        }

        &:not(.gt2-disabled):hover div:nth-child(1) {
          opacity: 0.1;
        }

        // checkbox
        div:nth-child(2) {
          border-radius: 4px;
          border: 2px solid var(--color-gray);
          box-sizing: border-box;

          svg {
            fill: white;
            display: none;
          }
        }

        &.gt2-active {
          div:nth-child(2) {
            background-color: var(--color-user);
            border-color: var(--color-user);
          }
          svg {
            display: block !important;
          }
        }

        &.gt2-disabled {
          cursor: not-allowed;

          &.gt2-active {
            div:nth-child(2) {
              background-color: var(--color-gray-dark);
              border-color: var(--color-gray-dark);
            }
          }
        }
      }
    }

    & > span {
      display: block;
      font-size: incr(13px);
      padding-top: 10px;
      color: var(--color-gray-light);
    }

    &:last-child {
      border-bottom: unset;
    }
  }
}


.gt2-page-messages {
  .gt2-left-sidebar {
    display: none;
  }
  main > div > div > div {
    & > section {
      max-width: unset;
      border-bottom-width: 1px;
      margin-bottom: 10px;

      &:nth-last-child(2) {
        width: 40%;
      }
      &:nth-last-child(1) {
        width: 60%;
        & > div:nth-child(1),
        & > div:nth-child(2) > div > div,
        & > div:nth-child(2) > div > div > div > div > div > div > div {
          max-width: unset;
          margin: unset;
        }
      }
    }
    & > section div:not([class]) > div:empty {
      display: none;
    }
  }
}


// left sidebar
.gt2-left-sidebar {
  margin-top: -10px;
  padding-top: 10px;
  width: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > div {
    margin-bottom: 11px;
    position: relative;
  }

  &:empty {
    display: none;
  }

  // moved trends
  .gt2-trends {
    border: solid 1px var(--color-gray-dark);
    border-radius: 0;
    background-color: var(--color-elem);
  }
}

// dashboard profile
.gt2-dashboard-profile {
  z-index: 1;
  right: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-elem);
  box-sizing: border-box;

  a:not([href]) {
    cursor: default;
  }

  .gt2-banner {
    background-size: 100%;
    height: 116px;
    background-position: 0 50%;
    background-color: var(--color-gray);
    width: 100%;
  }
  & > div {

    .gt2-avatar {
      display: flex;
      width: 82px;
      height: 82px;
      margin: -30px 0 0 8px;
      background-color: var(--color-elem);
      border-radius: 9999px;
      align-items: center;
      justify-content: center;

      img {
        border-radius: inherit;
        width: 90%;
        height: 90%;
        @include grayscaleHover;
      }
    }

    .gt2-user {
      color: var(--color-text);
      position: absolute;
      top: calc(125px - var(--font-increment) * 2);
      left: 100px;
      width: 185px;
      height: fit-content;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      display: flex;
      flex-direction: column;

      .gt2-name {
        width: 210px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: incr(18px);
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
      .gt2-screenname {
        font-size: incr(14px);
        color: var(--color-gray);
        &:hover span {
          text-decoration: underline;
        }
      }
    }

    .gt2-toggle-acc-switcher-dropdown,
    .gt2-toggle-lo-nightmode {
      right: 7.5px;
      bottom: calc(93px + (var(--font-increment) + 2px) / 2);
      @include hoverableSvg;
      div {
        width: 27px;
        height: 27px;
      }
      svg {
        fill: var(--color-gray);
      }
    }

    .gt2-stats {
      padding: 16px;
      margin-top: calc(var(--font-increment) * -2);

      ul {
        display: table;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          display: table-cell;
          list-style: none;
          width: 1%;
          a {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
              font-size: incr(13px);
              font-weight: bold;
              transition: color .15s ease-in-out;
              color: var(--color-gray);
            }
            span:nth-child(2) {
              font-size: incr(19px);
              font-weight: bold;
              line-height: 1;
              padding-top: 3px;
              color: var(--color-user);
            }
          }

          a:hover span:nth-child(1) {
            color: var(--color-user);
          }
        }
      }
    }
  }
}


div[data-testid=sidebarColumn] .gt2-dashboard-profile {
  position: relative;
  margin: 0;
  width: 100%;
}


// gt2 sidebar notice
.gt2-sidebar-notice {
  background-color: var(--color-elem);
  color: var(--color-text);
  border: 1px solid var(--color-gray-dark);

  a,
  a:link,
  a:visited {
    color: var(--color-user);
    text-decoration-line: none;
    &:hover {
      text-decoration-line: underline;
    }
  }

  .gt2-sidebar-notice-header {
    font-size: incr(19px);
    font-weight: 800;
    border-bottom: solid 1px var(--color-gray-dark);
    .gt2-sidebar-notice-close {
      right: 10px;
      top: 10px;
      @include hoverableSvg;
    }
  }
  .gt2-sidebar-notice-content {
    text-align: center;
  }
  & > div {
    padding: 10px 15px;
  }

  &.gt2-update-notice {
    .gt2-sidebar-notice-content svg {
      fill: white;
      border-radius: 9999px;
      border: 3.5px solid green;
      background-color: green;
      height: 12px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
}



// tweet analytics
body[data-promote-url^="/i/tfb/v1/quick_promote"] {
  background-color: var(--color-elem) !important;

  .QuoteTweet {
    border-color: var(--color-gray);
  }

  // buttons
  .ep-ViewAllEngagementsButton,
  .ep-InlineSignupButton {
    color: white !important;
    background-color: #55acee !important;
  }

  // seperators
  .ep-Campaign,
  .ep-DetailedEngagementsSection {
    border-color: var(--color-shadow);
  }

  // text
  .ProfileTweet-originalAuthor b,
  .QuoteTweet-text,
  .QuoteTweet-text b,
  .QuoteTweet-text s,
  .QuoteTweet-text span,
  .ep-MetricName,
  .ep-MetricValue span,
  .ep-SectionTitle {
    color: var(--color-text) !important;
  }
}

// signup for tweet promoting
body[data-payment-endpoint-path] {
  background-color: var(--color-elem) !important;

  .as-Label,
  .as-SelectContainer {
    color: var(--color-text);

    option {
      background-color: var(--color-elem);
    }
  }
}

.gt2-hidden {
  display: none !important;
}

// translate tweet
.gt2-translate-tweet,
.gt2-translated-tweet-info {
  width: max-content;
  margin-top: 5px;
  color: var(--color-user);
  font-size: incr(13px);

  &:hover {
    text-decoration-line: underline;
  }

  svg {
    height: 1.25em;
    fill: var(--color-text);
    vertical-align: middle;
    margin-left: 1px;
  }
}
.gt2-translated-tweet {
  color: var(--color-text);
  font-size: incr(15px);
  white-space: pre-line;

  a,
  a:link,
  a:visited {
    color: var(--color-user);
    text-decoration-line: none;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
