// #################
// #  Icon fonts   #
// #################

$rosetta: "https://abs.twimg.com/a/1496201771/font/rosetta-icons-Regular.woff";
$edge: "https://abs.twimg.com/a/1569889127/font/edge-icons-Regular.woff";


// 2014-02 ~ 2017-06
@font-face {
  font-family: Rosetta;
  src: url($rosetta);
}

// 2017-06 ~ 2019-07
@font-face {
  font-family: Edge;
  src: url($edge);
}


// rosetta/edge icons TODO
@mixin icon-replace($font, $glyph, $size, $pad) {
  // small: 34.75
  // big:   38.5
  > div {
    &:nth-child(1) {
      position: relative;

      &::before {
        content: unquote("\"\\#{$glyph}\"");
        font-family: $font;
        font-size: $size;
        padding: $pad;
      }
    }

    &:not(:nth-child(1)) {
      display: none;
    }
  }

  > svg {
    display: none;
  }
}

@mixin rosetta($glyph, $size, $pad) {
  @include icon-replace(Rosetta, $glyph, $size, $pad);
}

@mixin edge($glyph, $size, $pad) {
  @include icon-replace(Edge, $glyph, $size, $pad);
}

// replace likes with favorites
.gt2-opt-favorite-likes {
  [data-testid=tweet] [data-testid$=like] > div:nth-child(1) > div:nth-child(1) {
    @include rosetta('f147', 19px, 7px 8.82px 7.75px);
  }

  [data-testid=tweet] + div,
  [aria-modal] > div > div:nth-child(1) {
    [data-testid$=like] > div:nth-child(1) > div:nth-child(1) {
      @include rosetta('f147', 25px, 8.5px 8px 10px);
    }
  }

  [data-testid$=like]:hover > div:nth-child(1) > div:nth-child(1) > div {
    background-color: rgba(var(--color-raw-yellow), .1) !important;
  }

  [data-testid=like]:hover > div:nth-child(1) {
    color: var(--color-yellow) !important;
  }

  [data-testid=unlike] > div:nth-child(1) {
    color: var(--color-yellow) !important;
  }
}

// use rosetta icons
.gt2-opt-rosetta-icons {
  // like, reply, retweet
  &:not(.gt2-opt-favorite-likes) {
    [data-testid=tweet] [data-testid$=like] > div:nth-child(1) > div:nth-child(1) {
      @include rosetta('f148', 19px, 7px 9.18px 7.75px);
    }

    [data-testid=tweet] + div,
    [aria-modal] > div > div:nth-child(1) {
      [data-testid$=like] > div:nth-child(1) > div:nth-child(1) {
        @include rosetta('f148', 24px, 8.5px 8.9px 10px);
      }
    }
  }

  [data-testid=tweet] [data-testid=reply] > div:nth-child(1) > div:nth-child(1) {
    @include rosetta('f151', 16.5px, 7px 9.16px 7.75px);
  }

  [data-testid=tweet] + div,
  [aria-modal] > div > div:nth-child(1) {
    [data-testid=reply] > div:nth-child(1) > div:nth-child(1) {
      @include rosetta('f151', 20px, 8.5px 9.3px 10px);
    }

    [data-testid$=retweet] > div:nth-child(1) > div:nth-child(1) {
      @include rosetta('f152', 20px, 8.5px 6.8px 10px);
    }
  }

  [data-testid=tweet] [data-testid$=retweet] > div:nth-child(1) > div:nth-child(1) {
    @include rosetta('f152', 16.5px, 7px 7.12px 7.75px);
  }

  [data-testid$=caret] > div:nth-child(1) > div:nth-child(1) {
    @include rosetta('f196', 16.5px, 7px 9.7px 7.75px);
  }
}
